.header {
  background-color: var(--primary);

  width: 100%;
  height: 7.2rem;
  padding: 0.4rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;

  position: relative;

  border-radius: 0 0 2rem 2rem;
}

.menuButton {
  background-color: transparent;
  border: none;

  z-index: 1100;
}

.headerHighlighted {
  z-index: 1100;
}
