.plans {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  row-gap: 1.6rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.careCards {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
